<leaflet-marker id="{{ include.business.identifier }}" class="custom-element if-defined content-visibility-hidden" data-marker-type="{{ include.type | default: 'unknown' }}" latitude="{{ include.business.geo.latitude }}" longitude="{{ include.business.geo.longitude }}" title="{{ include.business.name | escape }}" itemtype="https://schema.org/{{ include.business['@type'] | default: 'Restaurant' }}" minzoom="{{ include.minZoom }}" maxzoom="{{ include.maxZoom }}" hidden="">
	{% if include.ld == true %}<script type="application/ld+json">{{ include.business | jsonify }}</script>{% endif %}
	{% assign icon=include.business.additionalProperty | find: 'name', 'icon' %}
	{% assign logo=include.business.logo | find: 'encodingFormat', 'image/svg+xml' %}
	{% if icon %}
		<img slot="icon" src="https://cdn.kernvalley.us/img/markers.svg#{{ icon.value }}" loading="lazy" decoding="async" crossorigin="anonymous" referrerpolicy="no-referrer" width="28" height="28" alt="" />
	{% elsif logo %}
		<img slot="icon" src="{{ logo.url }}" loading="lazy" decoding="async" crossorigin="anonymous" referrerpolicy="no-referrer" height="30" width="30" alt="" />
	{% else %}
		{% include leaflet/schema-icon.html place=include.business size=include.size %}
	{% endif %}
	<template slot="popup">
		<div itemprop="geo" itemtype="https://schema.org/GeoCoordinates" itemscope="" hidden="">
			<meta itemprop="latitude" content="{{ include.business.geo.latitude }}" />
			<meta itemprop="longitude" content="{{ include.business.geo.longitude }}" />
		</div>
		<meta itemprop="priceRange" content="{{ include.business.priceRange }}" />
		{% if include.business.servesCuisine %}{% for cuisine in include.business.servesCuisine %}
			<meta itemprop="servesCuisine" content="{{ cuisine | escape }}" />
		{% endfor %}{% endif %}
		{% if include.business.image %}{% for img in include.business.image %}
			<meta itemprop="image" content="{{ img.url }}" />
		{% endfor %}{% else %}
			<meta itemprop="image" content="https://cdn.kernvalley.us/img/raster/missing-image.png" />{% endif %}
		{% if include.business.logo %}{% for img in include.business.logo %}
			<meta itemprop="image" content="{{ img.url }}" />
		{% endfor %}{% endif %}
		<h3 itemprop="name">{{ include.business.name }}</h3>
		{% if include.business.description %}<blockquote itemprop="description">{{ include.business.description }}</blockquote>{% endif %}
		{% if include.business.address %}{% include common/address.html address=include.business.address %}{% endif %}
		{% if include.business.telephone %}<div><a href="tel:+{{ include.business.telephone | remove: '+1-' }}" itemprop="telephone" content="+1-{{ include.business.telephone | remove: '+1-' }}">
			<span>{{ include.business.telephone | remove: '+1-' }}</span>
			{% include common/icon.html icon="call-start" width="20" height="20" fill="currentColor" %}
		</a></div>{% endif %}
		{% if include.business.url %}<div><a href="{{ include.business.url }}" itemprop="url" rel="noopener noreferrer external">
			<span>{{ include.business.url | remove: 'https://' | remove: 'http://' | remove: 'www.' | split: '/' | first }}</span>
			{% include common/icon.html icon="link-external" height="20" width="20" fill="currentColor" %}
		</a></div>{% endif %}
		{% if include.business.email %}<a href="mailto:{{ include.business.email | escape }}" itemprop="email" content="{{ include.business.email | escape }}">
			<span>{{ include.business.email }}</span>
			{% include common/icon.html icon="mail" fill="currentColor" height="20" width="20" %}
		</a>{% endif %}
		{% if include.business.openingHoursSpecification %}{% include common/openingHoursSpecification.html hours=include.business.openingHoursSpecification %}{% endif %}
		<br />
		<div>
			<button type="button" is="share-button" text="Check out &quot;{{ business.name }}&quot; on {{ site.title }}" url="/#{{ business.identifier }}" hidden="">
				<span>Share</span>
				<svg height="18" width="18" fill="currentColor" role="img" aria-hidden="true">
					<use xlink:href="/img/icons.svg#public-share"></use>
				</svg>
			</button>
		</div>
	</template>
</leaflet-marker>
